body{
    margin: 0;
}
#Hero{
    display: flex;
    justify-content: start;
    flex-direction: column;
    border: 2px solid black;
    background: pink;
    height: 65%;
    width: 65%;

    margin: 200px;
}

#heading{
    margin: 15px 15px 0px 15px;
    width: 95%;
}

#contents{
    display: flex;
    justify-content: start;
    margin: 5px 15px 15px 15px;
    border: 2px solid black;
    width: 95%;
}
#text{
    background: yellow;
    border-right: 2px solid black;
    text-align: end;
    width: 25%;
    padding-right: 20px;
    font-size: xx-large;
}

#Welcome{
    padding: 10px;
    background: white;
    width: 75%;
}
