.main {
    margin-block: 200px;
    margin-left: auto;
    margin-right: auto;

}
.red { 
    background: red;
    height: 100px;
}
.blue { 
    background: blue;
    height: 100px;
}
.purple { 
    background: purple;
    height: 100px;
}